.layout-container 
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at bottom,#ffffff,#3667ed,#020617 70%), linear-gradient(135deg, #020617, #020617);
}

.page-content 
{
    flex: 1;
    display: flex;
    margin: 0;
}